.footer-container{
    border-top: 3px solid #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a span i{
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}