body{
    width: 100%;
    height: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}


main{
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.table-container{
    width: 450px;
    min-height: 500px;
    display: flex;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    background-color: #333;
}

.summary-container{
    width: 500px;
    min-height: 500px;
    border-radius: 10px;
    padding: 40px;
    margin: 20px;
    background-color: #333;
}

.table-container table, .summary-container table{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border: 2px solid #fff;
    color: white;
    font-size: 20px;
}


.table-container table thead tr th, .summary-container table thead tr th{
    padding: 10px 20px;
    border-bottom: 0.5px solid #fff;
}

.table-container table tbody tr td, .summary-container table tbody tr td{
    padding: 10px 20px;
    border-bottom: 0.5px solid #fff;
    text-align: center;
}

.table-container table tbody tr:last-child td, .summary-container table tbody tr:last-child td{
    border: none;
}

.table-container table tbody tr td:first-child,
.summary-container table tbody tr td:first-child{
    text-align: left;
}

.summary-container h1{
    margin: 0px;
    color: white;
}

.summary-container h3{
    color: white;
}
#name-input{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

input[type="time"]{
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}

#name-label{
    color: white;
}

#calculate-button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 700;
}

#clear-button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    align-self: center;
    margin-top: 20px;
    margin-left: 120px;
    cursor: pointer;
    font-weight: 700;
}



